@font-face {
  font-family: "SiteTitle"; 
  // адрес шрифта и тип 
  src: url("../public/JatmikaTypeface.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 



.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.link {
  text-decoration: none !important;
  color: black;
}

.hidden {
  display: none;
}