@font-face {
  font-family: "SiteTitle"; 
  src: url("/JatmikaTypeface.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "UserHeader";
  src: url("/NeverSmile.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "FontButton";
  src: url("/Colatemta.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "LoginTitle";
  src: url("/mr_AfronikG.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "ArticleText";
  src: url("/Truetypewriter PolyglOTT.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "ThemeName";
  src: url("/Nimbus Mono.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}



.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.link {
  text-decoration: none !important;
  color: black;
}

.hidden {
  display: none;
}

.standart-btn {
  font-family: "FontButton";
  font-size: 16px;
}

.form-title {
  font-family: LoginTitle;
  font-size: 48px;
}

.form-btn {
  font-family: "FontButton";
  font-size: 24px;
}

.form-text {
  font-family: LoginTitle;
  font-size: 18px;
}